---
---

<body>
  <a href="/">Home</a>
  <a href="/about/">About</a>
  <a href="/blog/">blogs</a>

  <h1>My Blogs</h1>
  <h3>About making this website:</h3>
  <p>This is where I will post about my journey learning Astro.</p>
  <ul>
    <li><a href="/posts/post-1">Goto the</a>First Post (ever!!!)</li>
  </ul>
</body>
